<div class='card cardunico'>
    <img src='{{ recipe.cover.url}}' class='card-img-top' alt='...' style="height: 400px; width: auto; object-fit: cover;">
    <div class='card-body'>
        <h5 class='card-title'>{{recipe.title}}</h5>
        <p class='card-text'>{{ recipe.description }}</p>
        <div class="author">
            <span class="author-item">
                <i class="fas fa-user"></i>
                {{recipe.author.first_name}} {{recipe.author.last_name}}
            </span>
            <span class="author-item">
                <i class="fas fa-calendar-alt"></i>
                {{ recipe.created_at|date:"d/m/Y" }} ás {{ recipe.created_at|date:"H:i" }}
            </span>
            <span class="author-item">
                <a href="/recipes/category/cafe-da-manha/">
                    <i class="fas fa-layer-group"></i>
                    <span>{{ recipe.category.name}}</span>
                </a>
            </span>
        </div>
    </div>
    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h5 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h5>
            <div class="recipe-meta-text">
                {{ recipe.preparation_time}} {{ recipe.preparation_time_unit}} 
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h5 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h5>
            <div class="recipe-meta-text">
                {{ recipe.servings}} {{ recipe.servings_unit}}
            </div>
        </div>
    </div>                    
    <div class="preparation-steps">
        {{ recipe.preparation_steps|linebreaksbr}}
    </div>
</div>